# Miscellaneous
*.class
*.log
.DS_Store
.history

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/
.gradle/
local.properties

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android build artifacts
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties